<div id="htmlwidget-4092" style="width:75%; height:75%; position:absolute" class="leaflet html-widget"></div>


@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
}

body {
  background-color: black;
  background-image: TNY.png; 
}

h1 {
  margin-right: 20%;
  margin-left: 20%;
  color: #39FF14;
  font-family: monospace;
  text-align: center;
}
h2 {
  margin-right: 20%;
  margin-left: 20%;
  color: #39FF14;
  font-family: monospace;
  text-align: center;
}
h3 {
  margin-right: 20%;
  margin-left: 20%;
  color: #39FF14;
  font-family: monospace;
  text-align: center;
}
p {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 20%;
  margin-left: 20%;
  color: #FF10F0;
  font-family: monospace;
  font-size: 20px;
  border-style: dashed; 
}

#leftcol {
  color: green;
  width:25%;
  position:absolute;
  left:5px;
  top:0px;

}
