body {
  background-color: black;
}

h1 {
  margin-right: 150px;
  margin-left: 80px;
  color: #39FF14;
  font-family: monospace;
  text-align: center;
}
h2 {
  margin-right: 150px;
  margin-left: 80px;
  color: #39FF14;
  font-family: monospace;
  text-align: center;
}
h3 {
  margin-right: 150px;
  margin-left: 80px;
  color: #39FF14;
  font-family: monospace;
  text-align: center;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 80px;
  color: #FF10F0;
  font-family: monospace;
  font-size: 20px;
}
