
@import url("https://fonts.googleapis.com/css2?family=Literata");

{
    font-family: "Literata";
}

toc-list, toc-list ol {
  list-style-type: none;
}

toc-list {
  padding: 0;
}

toc-list ol {
  padding-inline-start: 2ch;
}

body {
  background-color: black;
  background-image: TNY.png; 
}
h1 {
  margin-right: 10%;
  margin-left: 10%;
  color: #f000ff;
  font-family: monospace;
  text-align: center;
}
h2 {
  margin-right: 10%;
  margin-left: 10%;
  color: #39FF14;
  font-family: monospace;
  text-align: center;
}
h3 {
  margin-right: 5%;
  margin-left: 5%;
  color: #39FF14;
  font-family: monospace;
  text-align: center;
}
p {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 10%;
  margin-left: 10%;
  color: #39FF14;
  font-family: monospace;
  font-size: 150%;
  border-style: dashed; 
}

leftcol {
  color: green;
  width:25%;
  position:absolute;
  left:5px;
  top:0px;

}

a:active {
  color: blue;
}
